<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
<link rel="shortcut icon" href="{% static '/favicon.ico' %}"/>
    <meta charset="UTF-8">
    <title>舌诊</title>
    <style>
        div{
            width:300px;
            height:50px;
            background:white;
            margin:0 auto;
        }
        div img{width:100%;
                display:block;
                height:100%}
    </style>
    <script src="{% static '/js/jquery-3.3.1.js' %}" ></script>
    <script src="{% static '/js/jquery-3.3.1.min.js' %}" ></script>
    <script>

        function uploadFile() {
        document.getElementById('iframe1').onload = reloadIframe1;
        document.getElementById('tongue_picture').submit()
    }

    function reloadIframe1() { //相当于回调函数，当数据返回的时候执行
        //this等于当前标签(iframe)
        var content = this.contentWindow.document.body.innerText;
        var obj = JSON.parse(content);
        var tag = document.createElement('img');
        tag.src = '/'+obj.data;
        $('#preview').empty().append(tag)  //限制了只在预览区显示一张图片
    }
    </script>
</head>
<body>

<div id="container" style="background-color:0;width:800px">

    <div id="header" style="background-color:0;">
        <h1 style="margin-bottom:0;"><font size="8">舌诊</font></h1>
    </div><br>
    <div   style="background-color:0;height:180px;width:200px;float:left"></div>
    <form id="tongue_picture" target="ifra1" enctype="multipart/form-data" method="post" onsubmit="return false" action="" style="background-color:0;height:300px;width:300px;float:left;line-height:23px">
        <iframe style="display: none" id="iframe1" name="ifra1" ></iframe>
        <b><font size="6">舌头</font></b><br>
        {% csrf_token%}
        <div id="preview" style="float:left;width:250px;height:250px;border:1px solid red" >
        </div>
        <input type="file" name="picture" value="上传为1.png" onchange="uploadFile();"/><br>
        <a href="/result" class='btn btn-info btn-xs pull-right'>提交</a>

    </form>

<!--    <div   style="background-color:0;height:180px;width:100px;float:left;line-height:29px">-->
<!--        <table>-->
<!--                <tr><b><font size="6">症状</font></b></tr>-->
<!--                <tr><td>舌质颜色：</td></tr>-->
<!--                <tr><td>舌质老嫩：</td></tr>-->
<!--                <tr><td>舌质胖瘦：</td></tr>-->
<!--                <tr><td>舌苔颜色：</td></tr>-->
<!--                <tr><td>舌苔厚薄：</td></tr>-->
<!--                <tr><td>津液：</td></tr>-->
<!--                <tr><td></td></tr>-->
<!--                <tr><td><a href="/showresult" class='btn btn-info btn-xs pull-right'>提交</a></td></tr>-->
<!--        </table>-->
<!--    </div>-->

<!--    <form id="menu" method="post" action="" style="background-color:0;height:180px;width:100px;float:left;line-height:29px">-->
<!--        <table>-->
<!--            <tr><b><font size="6">表现</font></b></tr><br>-->
<!--            {%for symptom in symptoms%}-->
<!--            <tr><td><input type="text" readonly width="80" value={{symptom}} style="border-style:none"></td></tr>-->
<!--            {%endfor%}-->
<!--            {% csrf_token%}-->

<!--        </table>-->
<!--    </form>-->
<!--    <div id="result" style="background-color:0;height:180px;width:150px;float:left;line-height:23px">-->
<!--        <b><font size="6">诊断结果</font></b><br>-->

<!--        <textarea style="height:200px;width:300px" name="input1" disabled>-->
<!--            {%for result in results%}-->
<!--            {{result}}-->
<!--            {%endfor%}-->
<!--        </textarea>-->

    </div>
</div>

</body>
</html>